<div class="contact-card">
  <span class="github">
    <a href="https://github.com/bitsapien" title="github.com/bitsapien" target="_blank">
      {{fa-icon "github" size=5}}
    </a>
  </span>
  <span class="twitter">
    <a href="https://twitter.com/bitsapien_log" title="twitter.com/bitsapien_log" target="_blank">
      {{fa-icon "twitter" size=5}}
    </a>
  </span>
  <span class="facebook">
    <a href="https://facebook.com/rahul.wozniak" title="facebook.com/rahul.wozniak" target="_blank">
      {{fa-icon "facebook" size=5}}
    </a>
  </span>
  <span class="linkedin">
    <a href="https://linkedin.com/in/c_space_rahul" title="linkedin.com/in/c_space_rahul" target="_blank">
      {{fa-icon "linkedin" size=5}}
    </a>
  </span>
  <span class="mail">
    <a href="mailto:bitsapien@gmail.com" title="bitsapien@gmail.com" target="_blank">
      {{fa-icon "envelope" size=5}}
    </a>
  </span>
  <br/>
  <div id="contact-tooltip"></div>
</div>
